// Reset
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;1,400;1,500&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

$color-red: #d72323;
$color-black: #303841;

header {
  display: flex;
  align-items: center;
  justify-content: center;

  .top-bar {
    background-color: #F8F8F8;
    margin: 16px 0 16px 0;
    height: fit-content;
    width: 1170px;
    border-radius: 2px;

    a {
      font-size: 14px;
      color: $color-black;
    }

    .row {
      margin: 12px 0 12px 0;

      .col-10 {
        ul {
          a {
            padding: 10px 30px 10px 30px;
          }

          & > :last-child a {
            padding: 10px 16px 10px 16px;
            background: $color-red;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

.contact {
  width: 1170px;
  position: relative;

  .content {
    width: 481px;
    height: 265px;
    padding-top: 100px;
    margin-bottom: 200px;

    .content__title {
      font: {
        weight: bold;
        size: 50px;
      }
      color: $color-red;
    }

    p {
      color: $color-black;
      font-weight: bold;
    }

    .content__text {
      font-size: 18px;
      width: 435px;
      margin: 17px 0 40px 0;
    }

    .content__address {
      font-size: 14px;

      p {
        margin-bottom: 10px;

        span {
          font-weight: normal;
        }
      }
    }

  }

  .form-contact {
    position: absolute;
    top: 50px;
    right: 0%;

    width: 534px;
    color: white;
    padding: 33px 30px 37px 30px;
    background-color: #3A4750;
    border-radius: 5px;

    p {
      font-size: 28px;
    }

    form {
      font-size: 16px;

      .form-group {
        margin-bottom: 16px;

        label {
          margin-bottom: 5px;
        }

        input, textarea {
          padding: 14px 16px 14px 16px;
          border-radius: 3px;
        }

        textarea {
          width: 100%;
          height: 107px;
          border-radius: 3px;
        }
      }

      button {
        margin-top: 8px;
        width: 100%;
        padding: 16px 0 16px 0;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        background-color: $color-red;
        border: none;
        border-radius: 3px;
      }
    }
  }
}

footer {
  .row {
    background-color: #303841;
    color: white;
    padding: 60px 150px 52px 150px;
    width: 100%;
    margin: 0;
    border: none;

    h5 {
      font-size: 16px;
      margin-bottom: 35px;
    }

    p {
      font-size: 14px;
      padding-bottom: 10px;
    }

    .col:first-child {
      h2 {
        font-size: 28px;
        padding: 45px 0 50px;
        margin: 0;
        width: 211px;
      }

      p {
        padding: 0;
        margin: 0;
      }
    }

    .col-3:last-child {
      p {
        font-weight: bold;

        span {
          font-weight: normal;
        }
      }

      i {
        padding-right: 24px;
      }
    }
  }

  .red-div {
    background-color: $color-red;
  }
}



