@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;1,400;1,500&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .top-bar {
    background-color: #F8F8F8;
    margin: 16px 0 16px 0;
    height: fit-content;
    width: 1170px;
    border-radius: 2px;
}

header .top-bar a {
    font-size: 14px;
    color: #303841;
}

header .top-bar .row {
    margin: 12px 0 12px 0;
}

header .top-bar .row .col-10 ul a {
    padding: 10px 30px 10px 30px;
}

header .top-bar .row .col-10 ul > :last-child a {
    padding: 10px 16px 10px 16px;
    background: #d72323;
    border-radius: 3px;
}

.contact {
    width: 1170px;
    position: relative;
}

.contact .content {
    width: 481px;
    height: 265px;
    padding-top: 100px;
    margin-bottom: 200px;
}

.contact .content .content__title {
    font-weight: bold;
    font-size: 50px;
    color: #d72323;
}

.contact .content p {
    color: #303841;
    font-weight: bold;
}

.contact .content .content__text {
    font-size: 18px;
    width: 435px;
    margin: 17px 0 40px 0;
}

.contact .content .content__address {
    font-size: 14px;
}

.contact .content .content__address p {
    margin-bottom: 10px;
}

.contact .content .content__address p span {
    font-weight: normal;
}

.contact .form-contact {
    position: absolute;
    top: 50px;
    right: 0%;
    width: 534px;
    color: white;
    padding: 33px 30px 37px 30px;
    background-color: #3A4750;
    border-radius: 5px;
}

.contact .form-contact p {
    font-size: 28px;
}

.contact .form-contact form {
    font-size: 16px;
}

.contact .form-contact form .form-group {
    margin-bottom: 16px;
}

.contact .form-contact form .form-group label {
    margin-bottom: 5px;
}

.contact .form-contact form .form-group input, .contact .form-contact form .form-group textarea {
    padding: 14px 16px 14px 16px;
    border-radius: 3px;
}

.contact .form-contact form .form-group textarea {
    width: 100%;
    height: 107px;
    border-radius: 3px;
}

.contact .form-contact form button {
    margin-top: 8px;
    width: 100%;
    padding: 16px 0 16px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #d72323;
    border: none;
    border-radius: 3px;
}

footer .row {
    background-color: #303841;
    color: white;
    padding: 60px 150px 52px 150px;
    width: 100%;
    margin: 0;
    border: none;
}

footer .row h5 {
    font-size: 16px;
    margin-bottom: 35px;
}

footer .row p {
    font-size: 14px;
    padding-bottom: 10px;
}

footer .row .col:first-child h2 {
    font-size: 28px;
    padding: 45px 0 50px;
    margin: 0;
    width: 211px;
}

footer .row .col:first-child p {
    padding: 0;
    margin: 0;
}

footer .row .col-3:last-child p {
    font-weight: bold;
}

footer .row .col-3:last-child p span {
    font-weight: normal;
}

footer .row .col-3:last-child i {
    padding-right: 24px;
}

footer .red-div {
    background-color: #d72323;
}

/*# sourceMappingURL=style.css.map */
